:8000 {
	root * /app/public

	@notFile {
		not file
	}
	rewrite @notFile /index.php

	handle /stream {
        root * /app/public
		reverse_proxy app:9001 {
            transport fastcgi {
                env SCRIPT_NAME /index.php
				env SCRIPT_FILENAME /app/public/index.php
                env REQUEST_URI     {uri}
                split .php
            }

            flush_interval -1
        }
	}

	handle {
        root * /app/public

		php_fastcgi app:9000 {
			root /app/public
			index index.php
			try_files {path} {path}/ /index.php?{query}
		}
		file_server
	}

	log {
		output stderr
		format console
		level  INFO
	}

	header {
		X-Frame-Options        "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection       "1; mode=block"
		-Server
	}

	@hidden path_regexp hidden (^\.|/\.)
	respond @hidden 403
}
